.article {
  width: 620px;
  height: 406px;
  padding: 26px 17px 65px 30px;
  @include flex-display($direction: column);
  border-bottom: 1px solid $color-bannerGrey;
}

.article__title {
  width: 496px;
  height: 56px;
  margin-bottom: 16px;
}

.article__info {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.45px;
  color: $color-subtextGrey;
  @include flex-display($gap: 35px, $align-items: flex-end);
  margin-bottom: 10px;
}

.article__dateGroup {
  @include flex-display($align-items: flex-end, $gap: 4px);
}

.article__image {
  width: 170px;
  height: 128px;
  padding-top: 9px;
}

.article__content {
  @include flex-display($gap: 20px);
}

.article__textGroup {
  @include flex-display($direction: column, $gap: 17px);
}

.article__text {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-textGrey;
  width: 383px;
  height: 176px;
}

.article__button {
  width: 120px;
  height: 30px;
  font-family: $font-secondary;
  color: $color-white;
  font-weight: 400;
  font-size: 14px;
  @include flex-display($justify-content: center, $align-items: center);
  background-color: $color-primaryPurple;
  line-height: 16.86px; 
  cursor: pointer;
}
