.comments {
  width: 620px;
  background-color: $color-white;
  padding: 15px 30px 30px;
}

.comments__title {
  margin-bottom: 43px;
}

.comments__list {
  @include flex-display($direction: column, $gap: 45px);
  margin-bottom: 26px;
}
