.banner {
  @include flex-display($justify-content: center, $align-items: center);
  background: $color-white;
  margin: 20px 0;

  &__inner {
    @include flex-display($direction: column,$justify-content: center, $align-items: center);
    border: 1px solid $color-borderGrey;
    width: 100%;
    height: 100%;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.68px;
    color: $color-inputGrey;
  }
}
