// colors
$color-background: #EEEEEE;
$color-primaryPurple: #4D4382;
$color-primaryBlack: #252525;
$color-white: #FFFFFF;
$color-transparentWhite: rgba(255, 255, 255, 0.05);
$color-newsBlue: #299EC3;
$color-businessRed: #EE6151;
$color-sportGreen: #84C14F;
$color-lifeBlue: #5DCFF3;
$color-techYellow: #FCC44D;
$color-travelBrown: #A99765;
$color-borderGrey: #D7D7D7;
$color-titleWhite: #EEF6FA;
$color-titleGrey: #363F48;
$color-linkBlue: #3677B5;
$color-underlineGrey: #ACB3BA;
$color-footerBlue: #45B0E3;
$color-subtextGrey: #666666;
$color-footerGrey: #CCCCCC;
$color-inputBlack: #333333;
$color-inputGrey: #999999;
$color-divider: #323232;
$color-transparentBlack: rgba(0, 0, 0, 0);
$color-black: rgba(0, 0, 0, 1);

//fonts
$font-primary: 'Bitter', serif;
$font-secondary: 'Varela Round', sans-serif;
$font-subtext: 'Varela', sans-serif;

//sizes
$max-width: 940px;








