// colors
$color-background: #eeeeee;
$color-primaryPurple: #4d4382;
$color-primaryBlack: #252525;
$color-white: #ffffff;
$color-transparentWhite: rgba(255, 255, 255, 0.05);
$color-newsBlue: #299ec3;
$color-businessRed: #ee6151;
$color-sportGreen: #84c14f;
$color-lifeBlue: #5dcff3;
$color-techYellow: #fcc44d;
$color-travelBrown: #a99765;
$color-borderGrey: #d7d7d7;
$color-titleWhite: #eef6fa;
$color-titleGrey: #363f48;
$color-linkBlue: #3677b5;
$color-underlineGrey: #acb3ba;
$color-footerBlue: #45b0e3;
$color-subtextGrey: #666666;
$color-footerGrey: #cccccc;
$color-inputBlack: #333333;
$color-inputGrey: #999999;
$color-divider: #323232;
$color-transparentBlack: rgba(0, 0, 0, 0);
$color-black: rgba(0, 0, 0, 1);
$color-linkUnderlineBlue: #c3d6e9;
$color-linkUnderlineYellow: #776160;
$color-darkPurple: #3e3668;
$color-linkUnderlineGrey: #727090;
$color-bannerGrey: #dddddd;
$color-textGrey: #444444;
$color-articleBlack: #222222;
$color-sligtlyTransparentBackground: rgba(238, 238, 238, 0.9);

//fonts
$font-primary: "Bitter", serif;
$font-secondary: "Varela Round", sans-serif;
$font-subtext: "Varela", sans-serif;

//sizes
$max-width: 940px;
